[submodule "libs/usb/CherryUSB"]
	path = libs/usb/CherryUSB
	url = https://github.com/cherry-embedded/CherryUSB.git
[submodule "libs/mavlink"]
	path = libs/mavlink
	url = https://github.com/mavlink/mavlink.git
