
CONFIG_DRIVER_SERIAL=y
CONFIG_DRIVER_I2C=y
CONFIG_DRIVER_SPI=y
CONFIG_DRIVER_CAN=y
CONFIG_DRIVER_QUADSPI=n
CONFIG_DRIVER_RTC=y
CONFIG_DRIVER_MMCSDSPI=n

CONFIG_CRUSB_DEVICE_ENABLE=n
CONFIG_CRUSB_IP="dwc2_st"
CONFIG_CRUSB_DEVICE_CDC_ACM_ENABLE=n
CONFIG_CRUSB_DEVICE_MSC_ENABLE=n

CONFIG_TEST=n

CONFIG_UNIXSOC=n
CONFIG_FREERTOS=n
CONFIG_RTTNANO=n
CONFIG_RTOS_COMPILER="gcc"
CONFIG_RTOS_MEM_METHOD=1
CONFIG_GMSH=n
CONFIG_FINSH=n

CONFIG_CMBACKTRACE=n
CONFIG_HRT=n
CONFIG_KPRINTF=n

CONFIG_LIBC_QUEUE=n
CONFIG_LIBC_MQUEUE=n
CONFIG_LIBC_PTHREAD=n
CONFIG_LIBC_SEMAPHORE=n
CONFIG_LIBC_TIMER=n
CONFIG_LIBC_TIME=n
CONFIG_LIBCPP=n
CONFIG_LIBC_VFS=n
CONFIG_PIPES=n
CONFIG_MTD=n
CONFIG_LIBC_LZF=n

CONFIG_FS_FATFS=n
CONFIG_FS_LITTLEFS=n
CONFIG_FS_GROMFS=n

CONFIG_MODULE_PERF=n
CONFIG_MODULE_WORKQUEUE=n
CONFIG_MODULE_WQUEUE=n
# CONFIG_MODULE_UORB=n

CONFIG_MODULE_BUILTIN=n

CONFIG_MODULE_READLINE=n
CONFIG_READLINE_ECHO=1
CONFIG_READLINE_TABCOMPLETION=y
CONFIG_READLINE_CMD_HISTORY=y
CONFIG_READLINE_CMD_HISTORY_LEN=5
CONFIG_READLINE_CMD_HISTORY_LINELEN=20
CONFIG_READLINE_MAX_BUILTINS=20

CONFIG_MODULE_NSHLIB=n
CONFIG_NSH_LIBRARY=1
CONFIG_NSH_PROMPT_STRING="nsh>"
CONFIG_NSH_READLINE=1
CONFIG_NSH_LINELEN=128
CONFIG_NSH_QUOTE=1
CONFIG_NSH_CMDPARMS=1
CONFIG_NSH_MAXARGUMENTS=15
CONFIG_NSH_ARGCAT=1
CONFIG_NSH_NESTDEPTH=8
CONFIG_NSH_BUILTIN_APPS=1
CONFIG_NSH_DISABLE_SET=n
CONFIG_NSH_DISABLE_UNSET=n
CONFIG_NSH_DISABLE_LOOPS=n
CONFIG_NSH_DISABLE_TEST=n
CONFIG_NSH_DISABLE_ECHO=n
CONFIG_NSH_DISABLE_ITEF=n
CONFIG_NSH_DISABLEBG=n
CONFIG_NSH_DISABLESCRIPT=n
CONFIG_NSH_VARS=1
CONFIG_NSH_FILEIOSIZE=512
CONFIG_NSH_INITSCRIPT="init.d/rcS"
CONFIG_NSH_RUNPWD="/home/miku/__workplace/gpmx/apps/fmu_gnss_ins_p/rcS"
CONFIG_NSH_CONSOLE=1

